@font-face {
    font-family: HYWenHei 85W;
    font-style: normal;
    font-weight: normal;
    src: local('HYWenHei 85W'), url('../assets/zhcn.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HYWenHei 85W;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/bgAboutPage.png);
    background-repeat: no-repeat;
}

h1{
    color: #ffff;
    font-size:55px;
    position: absolute;
    display: flex;
    top: 15%;
    
}


.container i.button{
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    height: 3.6%;
    width: 3.6%;
    font-size: 50px;
    color: #D9D9D9;
    transition: all 0.3s linear;
    cursor: pointer;
    z-index: 100;
}


i#prev{
    
    left: 13%;
}

i#next{
    right: 14%;
}


.image-container{
    display: flex;
    position: absolute;
    top: 33%;
    left: 16%;
    height: 320px;
    max-width: 840px;
    width: 250%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.image-container .image{
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}

.image img{
    height: 105%;
    width: 100%;
}

@media screen and (max-width: 1026px){
    .image-container{
        top: 35%;
        left: 20%;
        width: 310%;
        max-width: 620px;
        height: 260px;
    }

    i#prev{
        top: 60%;
        left: 17.5%;
    }

    i#next{
        top: 60%;
        right: 15%;
    }
}

@media screen and (max-width: 769px){
    .image-container{
        top: 35%;
        left: 20%;
        width: 200%;
        max-width: 420px;
        height: 235px;
    }

    i#prev{
        top: 55%;
        left: 15%;
    }

    i#next{
        top: 56%;
        right: 20%;
    }
}

@media screen and (max-width: 426px){
    .image-container{
        top: 40%;
        left: 20%;
        width: 125%;
        max-width: 240px;
        height: 115px;
    }

    i#prev{
        font-size: 220%;
        top: 50%;
    }

    i#next{
        font-size: 220%;
        top: 50%;
        right: 18%;
    }


}


