@font-face {
    font-family: tahoma_genshin;
    src: url('../assets/Tahoma\ Regular\ font.ttf')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma_genshin;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/bgAboutPage.png);
    background-repeat: no-repeat;
}

h1{
    color: #ffff;
    font-size:50px;
    position: absolute;
    display: flex;
    top: 15%;
    /* text-shadow: 2px 2px 8px gray; */
}
/* .container{
    display: flex;
    max-width:650px;
    width: 100%;
    height: 400px;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative;
} */

.container i.button{
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    height: 3.6%;
    width: 3.6%;
    font-size: 50px;
    color: #D9D9D9;
    transition: all 0.3s linear;
    cursor: pointer;
    z-index: 100;
}

i.button:active{
    transform: scale(0.94) translateY(-50%);
}

i#prev{
    
    left: 13%;
}

i#next{
    right: 14%;
}


.image-container{
    /* background-color: blueviolet; */
    /* position: absolute; */
    display: flex;
    position: absolute;
    top: 33%;
    left: 16%;
    height: 320px;
    max-width: 840px;
    width: 250%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.image-container .image{
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}

.image img{
    height: 105%;
    width: 100%;
    /* object-fit: cover; */
   
}


