/* video first page */
.video-container{
    width: 100%;
    height: 100vh;
    position: relative;
}


  /* iframe { */
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* width: 100%; */
    /* height: 100vh; */
    /* transform: translate(-50%, -50%); */
  /* } */

  /* @media (min-aspect-ratio: 16/9) { */
    /* .video-container iframe { */
      /* height = 100 * (9 / 16) = 56.25 */
      /* width: 100%; */
    /* } */
  /* } */
      
  /* @media (max-aspect-ratio: 16/9) { */
    /* .video-container iframe { */
      /* width = 100 / (9 / 16) = 177.777777 */
      /* width: 100%; */
    /* } */
  /* } */

  .video-container iframe
  {
    position: absolute;
    width: 100vw;
    height: 100vh;

  }

  .cloud-overlay{
    z-index: 1;
    position: absolute;
    display:block;
    width:100%; 
    /* object-fit: contain; */
    height: 100%;
  }
