@font-face {
    font-family: tahoma_genshin;
    src: url('/assets/Tahoma\ Regular\ font.ttf')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma_genshin;
}

.container_login{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/login2.png');
    background-position: center;
    background-size: cover;
}

  
.form-box1{
    width: 90%;
    max-width: 35vw;
    position: absolute;
    justify-content: center;
    top: 5%;
    right: 35%;
    transform: translate(-50%,50%);
    background: none;
    padding: 3vw 6vh 7vw 8vh;
    text-align: center;
}
  
.input-field1{
    background: #eaeaea;
    top: 5%;
    margin: 1vw 0;
    border-radius: 0.3vw;
    display: flex;
    align-items: center; 
  
}

input{
    display: block;
    font-family: tahoma;
    width: 100%;
    background: none;
    border: 0;
    outline: 0;
    padding: 1vw 1vh;
}

.input-field1 i{
    position: absolute;
    left: 85%;
    visibility: hidden;
}

.error i.fa-exclamation-circle{
    visibility: visible;
    color: red;
  }
  
.success i.fa-check-circle{
    visibility: visible;
    color: green;
}
  
.button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 3%;
    right: 87%;
    
}
  
.button_close{
    width: 140%;
    height: 180%;
    background-color: transparent;
    border: none;
    font-size: 250%;
    font-weight: bold;
    color: #166379;
}

.btn{
    position:fixed;
    display: flex;
    top: 63.8%;
    left: 31%;
    width: 20%;
    height: 8%;
    font-family: tahoma_genshin;
    font-size:x-large;
    color: white;
    background-color: transparent;
    border: none;
  }
  
  .btn:hover{
    color: white;
      text-shadow: 0 0 10px  #fff,
                   0 0 20px  #fff,
                   0 0 40px  #fff,
                   0 0 80px  #fff,
                   0 0 120px  #fff,
                   0 0 160px #fff;
  }
