@font-face {
    font-family: tahoma_genshin;
    src: url('https://github.com/nathrizandi/hciLab/blob/main/assets/Tahoma\ Regular\ font.ttf')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma_genshin;
}

.container_login{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url('https://github.com/nathrizandi/hciLab/blob/main/assets/login2.png?raw=true');
    background-position: center;
    background-size: cover;
}

  
.form-box1{
    width: 90%;
    max-width: 35vw;
    position: absolute;
    justify-content: center;
    top: 5%;
    right: 35%;
    transform: translate(-50%,50%);
    background: none;
    padding: 3vw 6vh 7vw 8vh;
    text-align: center;
}
  
.input-field1{
    background: #eaeaea;
    top: 5%;
    margin: 1vw 0;
    border-radius: 0.3vw;
    display: flex;
    align-items: center; 
  
}

input{
    display: block;
    font-size: 65%;
    font-family: tahoma;
    width: 100%;
    background: none;
    border: 0;
    outline: 0;
    padding: 1vw 1vh;
}

.input-field1 i{
    position: absolute;
    left: 85%;
    visibility: hidden;
}

.error i.fa-exclamation-circle{
    visibility: visible;
    color: red;
  }
  
.success i.fa-check-circle{
    visibility: visible;
    color: green;
}
  
.button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 3%;
    right: 87%;
    
}
  
.button_close{
    width: 140%;
    height: 180%;
    background-color: transparent;
    border: none;
    font-size: 250%;
    font-weight: bold;
    color: #166379;
}

.btn{
    position:fixed;
    display: flex;
    top: 63.8%;
    left: 31%;
    width: 20%;
    height: 8%;
    font-family: tahoma_genshin;
    font-size:x-large;
    color: white;
    background-color: transparent;
    border: none;
  }
  
  .btn:hover{
    color: white;
      text-shadow: 0 0 10px  #fff,
                   0 0 20px  #fff,
                   0 0 40px  #fff,
                   0 0 80px  #fff,
                   0 0 120px  #fff,
                   0 0 160px #fff;
  }

  .login_text{
    font-size: small;
    position: absolute;
    display: flex;
    top: 55%;
    left:17%;
  }
  
  .login_link{
    font-size: small;
    position: absolute;
    display: flex;
    top: 55%;
    left:26%;
  }

  @media screen and (max-width: 1025px){
    .btn{
        top: 62%;
        left: 31%;
        
    }
  }

  @media screen and (max-width: 769px){
    .form-box1{
        top: 15%;
        left: 30%;
    }
    
    input{
        font-size: 47%;
    }

    .btn{
        top: 59.5%;
        left: 31%;
        font-size: smaller;
    }
    .button{
        top: 16%;
        left: 10%;
    }
    .button_close{
        font-size:x-large;

    }

  }



  @media screen and (max-width: 426px){
    .form-box1{
        top: 24%;
        left: 15%;
    }
    .input-field1{
        width: 250%;
    }
    input{
        font-size: 47%;
    }

    .btn{
        top: 58.5%;
        left: 19%;
        font-size: smaller;
    }
    .button{
        top: 2%;
        left: -20%;
    }
    .button_close{
        font-size: larger;

    }

  }
