@font-face {
    font-family: tahoma_genshin;
    src: url('https://github.com/nathrizandi/hciLab/blob/main/assets/Tahoma Regular font.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma_genshin;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url('https://github.com/nathrizandi/hciLab/blob/main/assets/register.png?raw=true');
    background-position: center;
    background-size: cover;
    position: relative;

}

.form-box{
    width: 90%;
    max-width: 35vw;
    position:absolute;
    /* display: flex; */
    justify-content: center;
    top: -6%;
    left: 66%;
    transform: translate(-50%,50%);
    background: none;
    padding: 3vw 6vh 7vw 8vh;
    text-align: center;
}

.input-field{
  position: relative;
  background: #eaeaea;
  margin: 1vw 0;
  border-radius: 0.3vw;
  display: flex;
  align-items: center; 
}

input{
  display: flex;
  font-size: 65%;
  font-family: tahoma;
  width: 100%;
  background: none;
  border: 0;
  outline: 0;
  padding: 1vw 1vh;
}

.input-field i{
  position: absolute;
  left: 90%;
  visibility: hidden;

}

.error i.fa-exclamation-circle{
  visibility: visible;
  color: red;
}

.success i.fa-check-circle{
  visibility: visible;
  color: green;
}

.check-box{
  display: flex;
  position: absolute;
  left: -38%;
  margin-top: 1%;
  align-items: center; 
}

.button_close{
  width: 140%;
  height: 180%;
  background-color: transparent;
  border: none;
  font-size: 250%;
  font-weight: bold;
  color: #166379;
}

.button{
  background-color: transparent;
  /* border: none; */
  position: absolute;
  top: 0%;
  left: 86%;
}

.checkbox_text{
  left: 54%;
  top: 73%;
  display: flex;
  position: absolute;
}
p{
  display: flex;
  font-size: 85%;
  font-family: tahoma_genshin;
  text-align: left;
  margin-top: -6%;
}

.btn{
  position:absolute;
  display: flex;
  top: 82.5%;
  left: 64%;
  width: 20%;
  height: 8%;
  font-family: tahoma_genshin;
  font-size: larger;
  color: white;
  background-color: transparent;
  border: none;
}

.btn:hover{
  color: white;
    text-shadow: 0 0 10px  #fff,
                 0 0 20px  #fff,
                 0 0 40px  #fff,
                 0 0 80px  #fff,
                 0 0 120px  #fff,
                 0 0 160px #fff;
}

.login_text{
  position: absolute;
  display: flex;
  top: 87%;
  left:53%;
}

.login_link{
  position: absolute;
  display: flex;
  top: 74%;
  left:60%;
}

@media screen and (max-width: 1025px){
  .btn{
    top: 80.5%;
    left: 63%;
  }
  .button{
    top: 4%;
    left: 86%;
  }
}

@media screen and (max-width: 769px) {
  .form-box{
    top: 5%;
    left: 67%;
  }
  input{
    font-size: 20%;
  }
  .check-box{
    width: 5%;
    height: 5%;
    left: 15%;
  }
  p{
    font-size: 44%;
    margin-top: -43%;
    margin-left: 12%;
  }
  .btn{
    top: 73%;
    left: 63%;
    font-size:smaller;
  }

  .button_close{
    font-size:larger;
  }

  .button{
    top: 17%;
    left: 86%;
  }
  
}

@media screen and (max-width: 426px) {
  .form-box{
    top: 20%;
    left: 67%;
  }
  .input-field{
    width: 200%;
  }
  input{
    font-size: 20%;
  }
  .check-box{
    width: 6.5%;
    height: 6.5%;
    left: 25%;
    top: 82%;
  }
  p{
    left: 20%;
    font-size: 40%;
    width: 100%;
    margin-top: -59%;
    margin-left: 20%;
    margin-right: 1%;
  }
  .btn{
    top: 70%;
    left: 70%;
    font-size:smaller;
  }

  .button_close{
    font-size:larger;
  }

  .button{
    top: 0%;
    left: 94%;
  }
  
}






