/* register */

@font-face {
  font-family: tahoma;
  src: url('Tahoma Regular font.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: genshin;
}


.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/register.png);
    background-position: center;
    background-size: cover;
    position: relative;

}

.form-box{
    width: 90%;
    max-width: 35vw;
    position: absolute;
    justify-content: center;
    top: -7%;
    left: 66%;
    transform: translate(-50%,50%);
    background: none;
    padding: 3vw 6vh 7vw 8vh;
    text-align: center;
}

.input-field{
    background: #eaeaea;
    margin: 1vw 0;
    border-radius: 0.3vw;
    display: flex;
    align-items: center; 

}
input{
    font-family: tahoma;
    width: 100%;
    background: none;
    border: 0;
    outline: 0;
    padding: 1vw 1vh;
}

.check-box{
  display: inline-flex;
  position: absolute;
  left: -38%;
  margin-top: 1%;
  align-items: center; 
}
.button1{
  background-color: transparent;
  border: none;
  position: absolute;
  top: -35%;
  left: 105%;
}
span{
  font-size: 90%;
  font-family: tahoma;
}

/* login */
.container_login{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/login.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.form-box1{
  width: 70%;
  max-width: 35vw;
  position: absolute;
  justify-content: center;
  /* top: 6%; */
  right: 35%;
  transform: translate(-50%,50%);
  background: none;
  padding: 3vw 6vh 7vw 8vh;
  text-align: center;
}

.input-field1{
  background: #eaeaea;
  margin: 1vw 0;
  border-radius: 0.3vw;
  display: flex;
  align-items: center; 

}

.button{
  background-color: transparent;
  border: none;
  position: absolute;
  top: -55%;
  right: 100%;
  
}
.button_close{
  width: 150%;
  height: 200%;
  background-color: transparent;
  border: none;
  font-size: 350%;
  font-weight: bold;
  color: #166379;
}

.login_button{
  position: absolute;
  padding: 6% 5%;
  margin:0.5cm 0;
  background: #11637A;
  color: white;
  font-weight: bold;

}







/* video first page */
.video-container{
    width: 100%;
    height: 100vh;
    position: relative;
}


  /* iframe { */
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* width: 100%; */
    /* height: 100vh; */
    /* transform: translate(-50%, -50%); */
  /* } */

  /* @media (min-aspect-ratio: 16/9) { */
    /* .video-container iframe { */
      /* height = 100 * (9 / 16) = 56.25 */
      /* width: 100%; */
    /* } */
  /* } */
      
  /* @media (max-aspect-ratio: 16/9) { */
    /* .video-container iframe { */
      /* width = 100 / (9 / 16) = 177.777777 */
      /* width: 100%; */
    /* } */
  /* } */

  .video-container iframe
  {
    position: absolute;
    width: 100vw;
    height: 100vh;

  }

  .cloud-overlay{
    z-index: 1;
    position: absolute;
    display:block;
    width:100%; 
    /* object-fit: contain; */
    height: 100%;
  }
