@font-face {
  font-family: genshin;
  src: url('https://github.com/nathrizandi/hciLab/blob/main/assets/Tahoma Regular font.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: genshin;
}