/* register */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/register.png);
    background-position: center;
    background-size: cover;
    position: relative;

}

.form-box{
    width: 90%;
    max-width: 35vw;
    position: absolute;
    justify-content: center;
    top: -7%;
    left: 66%;
    transform: translate(-50%,50%);
    background: none;
    padding: 3vw 6vh 7vw 8vh;
    text-align: center;
}

.input-field{
    background: #eaeaea;
    margin: 1vw 0;
    border-radius: 0.3vw;
    display: flex;
    align-items: center; 

}
input{
    width: 100%;
    background: none;
    border: 0;
    outline: 0;
    padding: 1vw 1vh;
}

.check-box{
  display: inline-flex;
  position: absolute;
  left: -40%;
  align-items: center; 
}


/* video first page */
.video-container{
    width: 100vw;
    height: 100vh;
}
      
  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
  }

  @media (min-aspect-ratio: 16/9) {
    .video-container iframe {
      /* height = 100 * (9 / 16) = 56.25 */
      height: 56.25vw;
    }
  }
      
  @media (max-aspect-ratio: 16/9) {
    .video-container iframe {
      /* width = 100 / (9 / 16) = 177.777777 */
      width: 177.78vh;
    }
  }

  .cloud-overlay{
    z-index: 2147483647;
    position: absolute;
    display:block;
    width:100vw; 
    height:100vh;
    object-fit: cover;
  }
